@font-face {
    font-family: "HelveticaNeueLight";
    src: local("HelveticaNeueLight"),
        url("../fonts/Helvetica/Helvetica-Neue-Light.ttf") format("truetype");
}

.font-face-hnl {
    font-family: "HelveticaNeueLight";
}

.margin-left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

.margin-right-a {
    margin-right: 5em;
}