@media only screen and (max-width: 1780px) {
    .img-hidden {
      visibility: hidden;
    }
  }

@font-face {
    font-family: "HelveticaNeueLight";
    src: local("HelveticaNeueLight"),
        url("../fonts/Helvetica/Helvetica-Neue-Light.ttf") format("truetype");
}

.font-face-hnl {
    font-family: "HelveticaNeueLight";
}

.margin-left {
    margin-left: 2em;
}

.margin-right {
    margin-right: 2em;
}

.background {
    background: rgb(255, 183, 221);
    background: linear-gradient(125deg, rgba(255, 183, 221, 1) 12%, rgba(232, 230, 230, 1) 25%, rgba(242, 245, 245, 1) 50%, rgba(225, 226, 227, 1) 75%, rgba(172, 195, 195, 1) 94%);
}

.link {
    color: black !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    border: none !important;
}

.color-button {
    background-color: #CCE0DD !important;
    border: none !important;
}

.background-part {
    background: rgb(255, 238, 250);
    background: linear-gradient(125deg, rgba(255, 238, 250, 1) 12%, rgba(255, 255, 255, 1) 33%, rgba(242, 245, 245, 1) 50%, rgba(252, 253, 255, 1) 78%, rgba(223, 253, 255, 1) 94%);
}

.side-container {
    padding-left: 10%;
    padding-right: 10%;
}

.side-container-2 {
    padding-left: 20%;
    padding-right: 20%;
}

.position-deco_1 {
    width: auto;
    top: 2em;
    left: 0;
}

.position-deco_2 {
    width: auto;
    top: 2em;
    right: 0;
}

.position-deco_3 {
    width: 20%;
    top: 35em;
    right: 0;
}

.position-deco_4 {
    width: auto;
    top: 82em;
    left: 0;
}

.decal-l {
    padding-left: 40%;
}

.decal-r {
    padding-right: 40%;
}

.decal-l-2 {
    padding-left: 60%;
}

.decal-r-2 {
    padding-right: 60%;
}